<section class="newsletter">
        <figure class="thumb">
            <svg>
                <use xlink:href="/assets/svg/sprite.svg#newsletterIco" /> </svg>
        </figure>
        <p class="nl-des"> Join my private email list to stay updated with cool stuff about design, <br> <span>my work and candies!</span> </p>
        <form class="nl-form validate" action="//techmudit.us12.list-manage.com/subscribe/post?u=38e8dc07d9a1f419b079964d2&amp;id=7cf12a3241"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
            <div class="nl-input"> <input type="text" id="mce-EMAIL" name="EMAIL" class="required email" placeholder="your@email.com" /> </div>
            <button type="submit" class="btn btn--icon-2"> <span class="Ico-addme icon"> <svg> <use xlink:href="/assets/svg/sprite.svg#addmeIco" /> </svg> </span> <span class="btn-text">add me</span> </button>            </form>
    </section>