<header class="blog-header">

  <figure class="me-writer">
    <span class="writerBG">
      <svg>
        <use xlink:href="/assets/svg/sprite.svg#writerbg" />
      </svg>
    </span>

    <img src="assets/svg/writer-me.svg" alt="">
  </figure>

  <div class="bh-content">
      <h1>As a Writer.</h1>
      <h2>We love to spread the knowledge!</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
  </div>

</header>


<section class="blogPosts-container">
  <article class="blogPost">
    <div class="post-meta">
      <span class="date">January 2017</span>
      <span class="dot"></span>
      <a class="category">Work</a>
    </div>

    <div class="post-content">
      <h1 class="post-title">Need Lorem Ipsum? Inside HTML?</h1>
      <div class="post-excerpt">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi arc.
      </div>
    </div>

    <div class="post-actions">
      <a class="read">
        <svg>
          <use xlink:href="/assets/svg/sprite.svg#readIco" />
        </svg>
      </a>
      <a class="love">Love</a>
    </div>

  </article>
</section>
