<section class="projInner">
  <div class="container">

    <header class="proj-header" style="background-color: #ebba10;">
      <div class="proj-head">
        <h1>portfolio theme design</h1>
        <p class="des">
          <a href="javascript:void(0)">ui/ux </a>,
          <a href="javascript:void(0)">web design</a> </p>
      </div>

      <div class="proj-mock">
        <img src="/assets/images/proj/muditjain_banner.jpg" alt="">
      </div>
    </header>

    <div class="proj-details">
      <div class="col1">
        <div class="proj--des">
          <h2>the journey <small>a bit about this project...</small></h2>
          <p>I have been kinda messed up since last few days. That was awful. Then I realize that I already wasted much important
            time.. I should value time. So I challenge myself to make a portfolio website design within 4hr. I took 6hr.
            The results after 4hr was not that good. So I spend more hours on it. Now I am pretty happy with the results...
            I always try to make it simple. I hope you guys like it!!!
          </p>
        </div>

        <div class="proj--links">
          <a class="btn btn-3 sl btn-behance" href="https://www.behance.net/gallery/41211747/Personal-Portfolio-Web-UI-Design-muditjain" target="_blank">view on behance</a>
          <a class="btn btn-3 sl btn-deseno" href="javascript:void(0)">Live Website</a>
        </div>
      </div>

      <div class="col2">
        <div class="proj--roles">
          <h3>roles</h3>
          <p>
            art direction, UI/UX design, web design
          </p>
        </div>
        <div class="proj--tools">
          <h3>tools</h3>
          <p>
            photoshop, illustrator, wireframe
          </p>
        </div>
      </div>
    </div>

    <div class="proj-content">
      <h2 class="flow-title">the art-flow</h2>
      <div class="artflow col-3">
        <img class="imgRes" src="/assets/images/proj/muditjain-portfolio-presentation.jpg" alt="">
      </div>
    </div>




  </div>
</section>