<section class="projInner">
  <div class="container">

    <header class="proj-header" style="background-color: #ed0008;">
      <div class="proj-head">
        <h1>AMCHAM INDIA Website</h1>
        <p class="des">
          <a href="javascript:void(0)">wordpress </a>,
          <a href="javascript:void(0)">web development </a>,
          <a href="javascript:void(0)">web design</a> </p>
      </div>

      <div class="proj-mock">
        <img src="/assets/images/proj/amcham_banner.jpg" alt="">
      </div>
    </header>

    <div class="proj-details">
      <div class="col1">
        <div class="proj--des">
          <h2>the journey <small>a bit about this project...</small></h2>
          <p>The American Chamber of Commerce in India (AMCHAM – India) is an association of American business organizations
            operating in India. AMCHAM – India is accredited to the Chamber of Commerce of USA, Washington DC, U.S.A. (COCUSA).
            It is also a full member of the Asia Pacific Council of American Chambers of Commerce (APCAC). Established in
            1992, AMCHAM has around 500 members. Companies of U.S. origin make up about 95 percent of membership, the remaining
            being individual or honorary members. The incumbent U.S. Ambassador to India is the Honorary President of AMCHAM.
            AMCHAM enjoys a very close relationship with the U.S. Embassy officials and receives tremendous support in fulfilling
            its objectives.

          </p>
        </div>

        <div class="proj--links">
          <a class="btn btn-3 sl btn-behance" href="https://www.behance.net/gallery/30226271/Amcham-India-"
            target="_blank">view on behance</a>
          <a class="btn btn-3 sl btn-deseno" href="http://www.amchamindia.com" target="_blank">Live Website</a>
        </div>
      </div>

      <div class="col2">
        <div class="proj--roles">
          <h3>roles</h3>
          <p>
            web design, web development
           </p>
        </div>
        <div class="proj--tools">
          <h3>tools</h3>
          <p>
            html, css, javascript, php, wordpress
          </p>
        </div>
      </div>
    </div>

    <div class="proj-content">

    </div>




  </div>
</section>