<section class="projInner">
  <div class="container">

    <header class="proj-header" style="background-color: #b11eff;">
      <div class="proj-head">
        <h1>Landing page <small>for bridal accessories</small></h1>
        <p class="des">
          <a href="javascript:void(0)">ui/ux </a>,
          <a href="javascript:void(0)">web design</a> </p>
      </div>

      <div class="proj-mock">
        <img src="/assets/images/proj/ecommerce_banner.jpg" alt="">
      </div>
    </header>

    <div class="proj-details">
      <div class="col1">
        <div class="proj--des">
          <h2>the journey <small>a bit about this project...</small></h2>
          <p>This design came up with a concept for the bridal accessories Ecommerce website. I got a challenge to make a design for this in 60mins. so did it and pretty happy with the results. Hope you guys will like it too.</p>
        </div>

        <div class="proj--links">
          <!--<a class="btn btn-3 sl btn-behance" href="https://www.behance.net/gallery/41211747/Personal-Portfolio-Web-UI-Design-muditjain" target="_blank">view on behance</a>
          <a class="btn btn-3 sl btn-deseno" href="javascript:void(0)">Live Website</a>-->
        </div>
      </div>

      <div class="col2">
        <div class="proj--roles">
          <h3>roles</h3>
          <p>
            art direction, UI/UX design, web design
          </p>
        </div>
        <div class="proj--tools">
          <h3>tools</h3>
          <p>
            photoshop, illustrator, pen and paper
          </p>
        </div>
      </div>
    </div>

    <div class="proj-content">
      <h2 class="flow-title">the art-flow</h2>
      <div class="artflow col-3">
        <img class="imgRes" src="/assets/images/proj/ecommerce_landingpage.jpg" alt="">
      </div>
    </div>




  </div>
</section>