<section class="projInner">
  <div class="container">

    <header class="proj-header" style="background-color: #d7751d">
      <div class="proj-head">
        <h1>My Pandit G</h1>
        <p class="des">
          <a href="javascript:void(0)">ui/ux </a>,
          <a href="javascript:void(0)">Mobile Application Design</a>
        </p>
      </div>

      <div class="proj-mock nobg">
        <img src="/assets/images/proj/mypanditg.png" alt="">
      </div>
    </header>

    <div class="proj-details">
      <div class="col1">
        <div class="proj--des">
          <h2>the journey <small>a bit about this project...</small></h2>
          <p>My Pandit G is the India’s 1st and most trusted online platform for Hindu puja service, Vedic Rituals, Religious
            Ceremonies and Astrology Services. We provide the India’s well-known, highly qualified and experienced Shastries
            and Pandits for you who will come to your house and do the puja. Our services also include online puja samagri
            or puja items.
          </p>
        </div>

        <div class="proj--links">
          <a class="btn btn-3 sl btn-behance" href="" target="_blank">view on behance</a>
          <a class="btn btn-3 sl btn-deseno" target="_blank" href="http://www.mypanditg.com/">Live Website</a>
        </div>
      </div>

      <div class="col2">
        <div class="proj--roles">
          <h3>roles</h3>
          <p>
            art direction, UI/UX design
          </p>
        </div>
        <div class="proj--tools">
          <h3>tools</h3>
          <p>
            photoshop, illustrator, invision app
          </p>
        </div>
      </div>
    </div>

    <div class="proj-content">
      <h2 class="flow-title">the art-flow</h2>

      <div class="artflow  col-3">
        <img class="imgRes" src="assets/images/proj/mypanditg_app.jpg" alt="">
      </div>
    </div>




  </div>
</section>