<section class="projInner">
  <div class="container">

    <header class="proj-header" style="background-color: #ff622a;">
      <div class="proj-head">
        <h1>notch website redesign</h1>
        <p class="des">
          <a href="javascript:void(0)">ui/ux </a>,
          <a href="javascript:void(0)">web design</a> </p>
      </div>

      <div class="proj-mock">
        <img src="/assets/images/proj/notch_banner.jpg" alt="">
      </div>
    </header>

    <div class="proj-details">
      <div class="col1">
        <div class="proj--des">
          <h2>the journey <small>a bit about this project...</small></h2>
          <p>
            Notch helps people prepare better for their job interviews. It is a global platform that connects aspiring job seekers with
            experienced professionals from the industry, whom they can practice their interview with.We believe that practicing
            for a job interview with the right people and getting honest feedback significantly improves odds of getting
            in. Our algorithm matches candidates with the most suitable professional based on their profile, experience and
            their target firms.
          </p>
        </div>

        <div class="proj--links">
          <!--<a class="btn btn-3 sl btn-behance" href="https://www.behance.net/gallery/41211747/Personal-Portfolio-Web-UI-Design-muditjain" target="_blank">view on behance</a>
          <a class="btn btn-3 sl btn-deseno" href="javascript:void(0)">Live Website</a>-->
        </div>
      </div>

      <div class="col2">
        <div class="proj--roles">
          <h3>roles</h3>
          <p>
            art direction, UI/UX design, web design
          </p>
        </div>
        <div class="proj--tools">
          <h3>tools</h3>
          <p>
            photoshop, illustrator, Html, Css, Jquery, pen and paper
          </p>
        </div>
      </div>
    </div>

    <div class="proj-content">
      <h2 class="flow-title">the art-flow</h2>
      <div class="artflow col-3">
        <img class="imgRes projshadow" src="/assets/images/proj/notch_design.jpg" alt="">
      </div>
   
    </div>




  </div>
</section>