<section class="projInner">
  <div class="container">

    <header class="proj-header" style="background-color: #131313">
      <div class="proj-head">
        <h1>Starbucks App</h1>
        <p class="des">
          <a href="javascript:void(0)">ui/ux </a>,
          <a href="javascript:void(0)">Mobile Application Design</a>
        </p>
      </div>

      <div class="proj-mock nobg">
        <img src="/assets/images/proj/starbucksbanner.png" alt="">
      </div>
    </header>

    <div class="proj-details">
      <div class="col1">
        <div class="proj--des">
          <h2>the journey <small>a bit about this project...</small></h2>
          <p>The Starbucks® app for iPhone® is the quickest, easiest way to pay for your coffee—no wallet necessary. The app
            is completely redesigned with an improved interface, a more personal dashboard experience, digital tipping and
            other great features, including easy access to our loyalty program, My Starbucks Rewards®.
          </p>
        </div>

        <div class="proj--links">
          <a class="btn btn-3 sl btn-behance" href="https://www.behance.net/gallery/30739445/Starbucks-ios-Application-UI-Design" target="_blank">view on behance</a>
          <!--<a class="btn btn-3 sl btn-deseno" target="_blank" href="">Live Website</a>-->
        </div>
      </div>

      <div class="col2">
        <div class="proj--roles">
          <h3>roles</h3>
          <p>
            art direction, UI/UX design
          </p>
        </div>
        <div class="proj--tools">
          <h3>tools</h3>
          <p>
            photoshop, illustrator, invision app
          </p>
        </div>
      </div>
    </div>

    <div class="proj-content">
      <h2 class="flow-title">the art-flow</h2>

      <div class="artflow  col-3">
        <img class="imgRes" src="assets/images/proj/starbucksPresentation2.jpg" alt="">
      </div>
    </div>




  </div>
</section>