// fonts
$primary-font: 'Josefin Sans', sans-serif;

// sizes
$header-padding: 0px;
$top-header-height: 100px;
$header-banner-height: calc(100vh - 100px);

// colors

$main-yellow: #fffcb6;
$default-link-color: #fd8a80;

$dark-blue: #566270;
$gray: #888888;
$pgray: #7a7a7a;
$yellow: #d8cf00;

// breakpoint
$mobile: new-breakpoint(max-width 500px 4);

// icon

$default-icons-size : 50px;
$default-icon-fill : $dark-blue;
